/*
 * -------------------------------------------------
 *  Nextflow config file for ucsf wynton
 * -------------------------------------------------
 * Defines profile configuration by enabling singularity,
 * param wynton_base, and ncbi-ise6 reference genome
 * which must be stored in $HOME/data/iscap_genome/*
 *
 * only the genomic .fna, .gtf, .bed and /STARIndex
 * can be located in the iscap_genome dir on any
 * individual's profile on wynton
 * derived from Chan Zuckerberg Biohub profile by
 * @olgabot
 */

 //Profile config names for nf-core/configs
 params {
   config_profile_description = 'ucsf profile provided by nf-core/configs.'
   config_profile_contact = 'Chase Mateusiak (@cmatKhan) and Olga Botvinni (@olgabot)'
   config_profile_url = 'https://www.choulab.com/ ; https://www.czbiohub.org/'
 }

singularity {
  enabled = true
}

process {
  executor = 'sge'
  errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
  clusterOptions = clusterOptions = { "-l mem_free=" + task.memory.toString().replaceAll(/[\sB]/,''); "-l slot_limit=1" }
}

workDir = "/scratch/$USER" // $TMPDIR is not an environmental variable on anything but compute nodes

params {

  wynton_base = "$HOME"

  genomes {
    'ncbi-ise6' {
      // bed12   = "${params.wynton_base}/data/iscap_genome/*.bed"
      fasta   = "${params.wynton_base}/data/iscap_genome/*.fna"
      gtf     = "${params.wynton_base}/data/iscap_genome/*.gtf"
      // star    = "${params.wynton_base}/data/iscap_genome/STARIndex/"
      // see https://nf-co.re/rnaseq/docs/configuration/reference_genomes for instructions on adding other genomes
    }

  // Largest SPOT instances available on ucsf wynton: https://ucsf-hpc.github.io/wynton/about/specs.html
  max_memory = 512.GB
  max_cpus = 24
  max_time = 240.h

  }
}
