/*
 * -------------------------------------------------
 *  Nextflow config file for ucsf wynton
 * -------------------------------------------------
 * Defines profile configuration by enabling singularity,
 * param wynton_base, and ncbi-ise6 reference genome
 * which must be stored in $HOME/data/iscap_genome/*
 *
 * only the genomic .fna, .gtf, .bed and /STARIndex
 * can be located in the iscap_genome dir on any
 * individual's profile on wynton
 * derived from Chan Zuckerberg Biohub profile by
 * @olgabot
 */

 //Profile config names for nf-core/configs
 params {
   config_profile_description = 'ucsf profile provided by nf-core/configs.'
   config_profile_contact = 'Chase Mateusiak (@cmatKhan) and Olga Botvinni (@olgabot)'
   config_profile_url = 'https://www.choulab.com/ ; https://www.czbiohub.org/'
 }

singularity {
  enabled = true
}

// executor {
//   name = 'sge'
//   penv = 'smp'
//   queueSize = '1'
//   pollInterval = '10 sec'
// }

process {
  executor = 'sge'
  penv = 'smp'
  errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
  clusterOptions = {"-S /bin/bash"}
  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }
  // scratch = true

  // Process-specific resource requirements
  withLabel: low_memory {
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withLabel: mid_memory {
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel: high_memory {
    cpus = { check_max (10, 'cpus')}
    memory = { check_max( 80.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }

  withName: makeHISATindex {
    cpus = { check_max( 10, 'cpus' ) }
    memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h * task.attempt, 'time' ) }
  }
  withName: trim_galore {
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withName: markDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }
  withLabel: salmon {
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withName: 'get_software_versions' {
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    cache = false
  }
  withName: 'multiqc' {
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    cache = false
  }
}

params {

  wynton_base = "$HOME"

  genomes {
    'ncbi-ise6' {
      // bed12   = "${params.wynton_base}/data/iscap_genome/*.bed"
      fasta   = "${params.wynton_base}/data/iscap_genome/*.fna"
      gtf     = "${params.wynton_base}/data/iscap_genome/*.gtf"
      star    = "${params.wynton_base}/beth_ise6_nextflow_output/star"
      // see https://nf-co.re/rnaseq/docs/configuration/reference_genomes for instructions on adding other genomes
    }

  // Largest SPOT instances available on ucsf wynton: https://ucsf-hpc.github.io/wynton/about/specs.html
  max_memory = 40.GB
  max_cpus = 5
  max_time = 10.h

  }
}
